* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 5px #3eb489;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa;
}

.display {
  width: 100%;
}

#displaySmall {
  font-size: 12px;
  min-height: 20px;
  padding: 10px;
  text-align: end;
}

#displayBig {
  font-size: 25px;
  min-height: 35px;
  padding: 10px;
  text-align: end;
}

.allButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  padding: 10px;
  width: 40px;
}

button[name="btnOperator"] {
  background-color: #3eb489;
}
